html, body {
  font-family: Helvetica, Sans-Serif;
  font-size: 1.0em
}

h1 {
  padding-top: 10px
  font-size: 0.8em
}

h2 {
  padding-top: 10px
  font-size: 0.8em
}

h3 {
  padding-top: 10px
  font-size: 0.8em
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
}

b {
  font-size: 1.0em
}

td, th, li {
  font-size: 1.0em
}

.code {
    font-family: Courier New;
}
