
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Maven
dependency-reduced-pom.xml
target/

### Python
__pycache__/

## TLS
*.crt
*.key
keystore.*